.main {
	display: grid;
	grid-template-columns: 55% auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"cont media"
		"textButton media";
	background-color: #3b3b3b74;
	border: #3b3b3b74;
	box-shadow: 0px 2px 6px rgba(25, 25, 25, 0.2);
	border-radius: 18px;
	padding: 28px;
	min-width: 466px;
	color: white;
	margin: 20px 0;
	gap: 18px;
}
.textContent {
	grid-area: cont;
	width: '80%';
	color: white;
	overflow: hidden;
}
.textButton {
	grid-area: textButton;
	margin-top: auto;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.media {
	grid-area: media;
	align-self: center;
}
.media:hover {
	transform: scale(1.3) translate(-16%, 0);
	z-index: 10;
	transition: all ease-in-out 280ms;
	box-shadow: 0px 2px 6px rgba(75, 75, 75, 0.527);
}

@media only screen and (max-width: 700px) {
	.main{
		display: grid;
		text-align: center;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"media"
			"cont"
			"textButton";
		min-width: 300px;
		margin: 20px auto;
		gap: 0;
	}
	.media {
		width: 65%;
		margin: auto auto 20px;
	}
	.textContent {
		width: 100%;
		height: fit-content;
	}
	.textButton {
		justify-content: space-evenly;
		width: 100%;
		margin: 18px auto 0;
	}
	.media:hover {
		transform: scale(1.6);
		z-index: 100;
		transition: all ease-in-out 280ms;
		box-shadow: 0px 2px 6px rgba(75, 75, 75, 0.527);
	}
}
