/* All PAGES **  content styling accross the site */
.contentConfig {
	flex-direction: column;
	margin: 90px 60px;
	/* width: 80%; */
	justify-content: center;
	color: white;
}
.section {
	display: flex-column;
}
h2{
	align-items: center;
	margin-bottom: 0;
	margin-top: 25px;
}
/* RESUME:: Skills Section :: table (extra) styling */
.table {
	display: flex;
}
/* RESUME:: Environments & Tools :: icons styling */
.iconGroup {
	display: flex-column;
	margin: auto;
}
.icon{
	margin: 15px 15px 0px 15px;
}
/* Degrees */
.degreesContainer {
	display: grid;
}
/* Unused? */
.divider {
	display: flex;
	height: 1px;
	border: 1px solid rgb(73, 73, 73);
	border-radius: 15px;
	margin-top: 10px;
}
/* Pies */
.graphBox {
	display: flex;
	align-self: center;
	width: 100%;
	margin: 10px;
}
.indivPie {
	text-align: left;
	align-self: center;
	margin: 0 auto;
	width: 100%;
} 