.documentLayout {
	display: grid;
	grid-template-columns: auto minmax(433px, 1023px) auto;
	grid-template-areas: 
		"emptyMarginLeft mainBody emptyMarginRight";
	background-color: #1b1b1b;
}
.side {
	grid-area: emptyMarginLeft;
}
.mainBody {
	grid-area: mainBody;
}
.side2 {
	grid-area: emptyMarginRight;
}